{% extends 'base.html' %}

{% block title %}Add Feedback{% endblock %}

{% block content %}
<h1>Create Feedback</h1>

<form method="post">

  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_='form-control') }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>

  {% endfor %}

  <button class="btn btn-primary" type="submit">Submit</button>

</form>
{% endblock %}